SARVAMAI_API_KEY=SARVAMAI_API_KEY
OPENAI_API_KEY=OPENAI_API_KEY
GEMINI_API_KEY=GEMINI_API_KEY
GOOGLE_GENAI_USE_VERTEXAI=False

# OpenWeatherMap
OPENWEATHER_API_KEY=OPENWEATHER_API_KEY

# Databricks
DATABRICKS_HOST=dbc-0e37dbb2-9279.cloud.databricks.com
DATABRICKS_TOKEN=YOUR_DATABRICKS_TOKEN

# Google Cloud
GOOGLE_CLOUD_PROJECT=agribricks
GOOGLE_CLOUD_LOCATION=arnav-prasad999928-org
# GOOGLE_CLOUD_LOCATION=global